[dev]
  command = "npm run dev" 
  port = 8888

[context.dev.environment]
  VITE_PUBLIC_URL = "https://localhost:8888/"

[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_PUBLIC_URL = "https://play-dungeon-crawler.netlify.app"

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
